.buttom-clear{
    all: unset;
    display: inline-block; /* Если нужно изменить тип отображения */
    cursor: pointer; /* Указываем, что это кликабельный элемент */
    padding: 5px; /* Дополнительное пространство вокруг содержимого */
    text-align: center; /* Центрируем содержимое */
}
