<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/donkey.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap" rel="stylesheet">

</head>

<body class="backround">
<nav class="menu">
    <nav class="logo-block">
        <a href="/protected/general">
            <img src="/svg/logo.svg" alt="Logo">
        </a>
    </nav>
    <div class="line"></div>
    <nav class="menu_container">
        <a class="menu__item" href="file">
            <div class="menu__item__content">
                <div class="icon-svg icon-file"></div>
                <div class="menu__item__text text-style color-E0F2FF">Файлы</div>
            </div>
        </a>
        <a class="menu__item" href="message">
            <div class="menu__item__content">
                <div class="icon-svg icon-message"></div>
                <div class="menu__item__text text-style color-E0F2FF">Сообщения</div>
            </div>
        </a>
    </nav>
    <nav class="menu__item__low">
        <a class="menu__item" href="/logout">
            <div class="menu__item__content">
                <div class="icon-svg icon-logout"></div>
                <div class="menu__item__text text-style color-E0F2FF">Выход</div>
            </div>
        </a>
    </nav>
</nav>

<div class="main-frame">
    <div class="user">
        <div class="icon-svg icon-notification"></div>
        <div class="text-style color-9ED5FF" th:text ="${user.getInitials()}"> </div>
    </div>
    <div class="universal text-h color-9ED5FF">Добро пожаловать!</div>
    <div class="universal text-style color-9ED5FF">На данный момент реализовано только два модуля,
        ведь это всего лишь курсовой проект,
        но в ближайшем будущем мы постараемся все реализовать
    </div>
    <div class="universal text-style color-9ED5FF">Над этим "проектом" работали:
    </div>
    <div class="universal text-style color-E0F2FF">1) Чурцев Николай АУБП-21-2
    </div>
    <div class="universal text-style color-E0F2FF">2) Константинов Андрей АУБП-21-1
    </div>



</div>


</body>
</html>