<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap" rel="stylesheet">

    <title>Log In</title>
</head>
<body class="back">

<nav class="logo">
    <img src="svg/logo.svg" alt="Logo" class="logo-img">
</nav>

<div class="login-container">
    <div class="notification" th:if="${param.error}">Invalid username or password.</div>
    <div class="notification" th:if="${param.logout}">You have been logged out.</div>
    <form class="login-form" th:action="@{/login}" method="post">
        <div class="input-container">
            <input type="text" name="username" placeholder="Username" class="input-field"/>
        </div>
        <div class="input-container">
            <input type="password" name="password" placeholder="Password" class="input-field"/>
        </div>
        <div class="button-container">
            <input type="submit" value="Log In" class="submit-button"/>
        </div>
    </form>
</div>
</body>
</html>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <title>Log In</title>
</head>
<body>

<div th:if="${param.error}">Invalid username or password.</div>
<div th:if="${param.logout}">You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log In" />
</form>
</body>
</html>
