<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        .myH1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="myH1">
        <span>Welcome to your profile, </span>
        <span th:text="${username}"></span>
        <span>!</span>
    </div>

    <p>You can do next things:</p>
    <ul>
<!--        <li>-->
<!--            <a href="/">Go to main page</a>-->
<!--        </li>-->
        <li>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</body>
</html>